@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

// COLORS

$hitam : #212121;
$putih-abu : #F8F8F8;
$merah-maroon : #F36852;
$maroon-muda : #FFE7DE;

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
       body {
              .container {
                     .row {
                            height: 100vh;

                            div {
                                   .welcome {
                                          width: 141px;
                                          height: 43px;
                                          background-color: $maroon-muda;
                                          font-family: Nunito;
                                          font-weight: 600;
                                          font-size: 20px;
                                          border-radius: 5px;
                                          color: $merah-maroon;
                                   }

                                   p:nth-child(2) {
                                          font-family: Open Sans;
                                          font-style: normal;
                                          font-weight: 800;
                                          font-size: 45px;

                                          .koma {
                                                 color: $merah-maroon;
                                          }
                                   }

                                   p:nth-child(3) {
                                          font-weight: normal;
                                          font-size: 16px;
                                          line-height: 28px;
                                   }
                            }
                     }
              }
       }
}