@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

// COLORS

$hitam : #212121;
$putih-abu : #F8F8F8;
$abuabu : #707071;
$merah-maroon : #F36852;
$maroon-muda : #FFE7DE;

body {
       div:nth-child(2) {
              .row {
                     div:nth-child(2) {
                            .welcome {
                                   width: 137px;
                                   height: 45px;
                                   background-color: $maroon-muda;
                                   font-family: Nunito;
                                   font-weight: 600;
                                   font-size: 20px;
                                   border-radius: 7px;
                                   color: $merah-maroon;
                            }

                            p:nth-child(2) {
                                   font-family: Open Sans;
                                   font-style: normal;
                                   font-weight: 800;
                                   font-size: 27px;
                                   display: inline-block;
                                   overflow: hidden;
                                   white-space: nowrap;
                                   animation: write 3s steps(40, end), cursor 1s step-end infinite;
                                   border-right: 3px solid;

                                   .koma {
                                          color: $merah-maroon;
                                   }
                            }

                            p:nth-child(3) {
                                   font-weight: normal;
                                   font-size: 16px;
                                   line-height: 30px;
                            }

                            // Download CV
                            a:nth-child(5) {
                                   font-size: 16px;
                                   color: $abuabu;
                                   font-weight: 700;
                                   transition: .3s;
                            }

                            a:nth-child(5):hover {
                                   color: $hitam;
                            }
                     }
              }
       }

       div.project {
              background-color: $hitam;

              .container {
                     P:nth-child(1) {
                            font-family: Open Sans;
                            font-weight: 700;
                            font-size: 30px;
                            text-align: center;
                     }
              }
       }

       div.skills {
              color: $hitam;

              .container {
                     P:nth-child(1) {
                            font-family: Open Sans;
                            font-weight: 700;
                            font-size: 30px;
                            text-align: center;
                            margin-bottom: 40px;
                     }

                     div.row {
                            div {
                                   i {
                                          color: $merah-maroon;
                                          font-size: 45px !important;
                                          margin-right: 5px;
                                   }

                                   font-family: Nunito;
                                   font-style: normal;
                                   font-weight: 800;
                                   font-size: 15px;
                                   margin-bottom: 20px;
                            }
                     }
              }
       }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
       body {
              div:nth-child(2) {
                     .row {
                            height: 90vh;

                            div:nth-child(1) {
                                   order: 2;
                            }

                            div:nth-child(2) {
                                   order: 1;

                                   .welcome {
                                          width: 150px;
                                          height: 50px;
                                          font-weight: 600;
                                          font-size: 23px;
                                   }

                                   p:nth-child(2) {
                                          font-weight: 800;
                                          font-size: 55px;
                                   }

                                   p:nth-child(3) {
                                          font-size: 18px;
                                   }

                                   // Download CV
                                   a:nth-child(5) {
                                          font-size: 17px;
                                          font-weight: 700;
                                   }
                            }
                     }
              }

              div.project {
                     .container {
                            P:nth-child(1) {
                                   font-weight: 800;
                                   font-size: 40px;
                                   text-align: left;
                                   margin-top: 10px;
                            }
                     }
              }

              div.skills {
                     .container {
                            P:nth-child(1) {
                                   font-weight: 800;
                                   font-size: 40px;
                                   text-align: left;
                                   margin-top: 10px;
                            }

                            div.row {
                                   div {
                                          i {
                                                 font-size: 80px !important;
                                                 margin-right: 20px;
                                          }

                                          font-size: 24px;
                                          margin-bottom: 35px;
                                   }
                            }

                            hr {
                                   margin-bottom: 35px;
                            }
                     }
              }
       }
}

/*-- Write text as Animated --*/
@keyframes write {
       from {
              width: 0%
       }

       to {
              width: 83%
       }
}

/*-- Animated blink cursor CSS--*/
@keyframes cursor {

       from,
       to {
              border-color: transparent;
       }

       50% {
              border-color: #ff9800;
       }
}